/* CONTENT */
.content {
  .content-header {
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;

    &:first-child {
      border-top: none;
    }

    .wrap {
      max-width: 520px;
      padding: 43px 20px 50px;
      text-align: center;
      font-style: italic;
      font-size: 24px;
    }

    .edy-texteditor-view {
      min-height: 28px;
    }
  }
}
