/* HEADER */
.header {
  .header-banner {
    position: relative;
    text-align: center;
    @include color($white);
    background-image: url('../photos/header-bg.jpg');
    background-size: cover;

    .wrap {
      display: table;
      max-width: 620px;
      height: 600px;
      margin: 0 auto;

      @include query($tablet-2) {
        height: 340px;
      }

      @include query($mobile-2) {
        height: 215px;
      }
    }

    .align-middle {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .header-title {
    @extend %aktiv-grotesk;
    font-size: 44px;

    &,
    a {
      @include color($white);
    }

    a {
      text-decoration: none;
    }
  }

  .header-slogan {
    min-height: 56px;
    margin-top: 15px;
    padding: 14px 32px 18px;
    font-style: italic;
    font-size: 24px;
    @include border(all, 1px, solid, $white);
  }
}
