/* HEADER */
.header {
  .background-image {
    position: relative;
    text-align: center;
    color: $white;
    background-size: cover;

    .wrap {
      display: table;
      max-width: 620px;
      height: 600px;
      margin: 0 auto;

      @media screen and (max-width: $tablet-2) {
        height: 340px;
      }

      @media screen and (max-width: $mobile-2) {
        height: 215px;
      }
    }

    .align-middle {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .header-title {
    @extend %aktiv-grotesk;
    font-size: 44px;

    &,
    a {
      color: $white;
    }

    a {
      text-decoration: none;
    }
  }

  .header-slogan {
    min-height: 56px;
    margin-top: 15px;
    padding: 14px 32px 18px;
    font-style: italic;
    font-size: 24px;
    border: 1px solid $white;
  }
}
