/* MENUS */
.menu-btn {
  display: none;
  @extend %button;

  @include query($tablet-2) {
    position: absolute;
    top: 24px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &.open,
    &:hover {
      .menu-stripe {
        @include bg($secondary-color, 0.8);
      }
    }

    .menu-stripe {
      display: block;
      width: 25px;
      height: 4px;
      margin: 4px 0;
      @include bg($secondary-color, 0.67);
      border-radius: 5px;

      &:hover {
        @include bg($secondary-color, 0.8);
      }

      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
}


.edit-btn {
}

.menu {
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    &.edit-btn {
    }

    a {
      display: block;
      text-decoration: none;
      @include color($primary-color);

      &.untranslated {
        opacity: 0.5;
      }
    }
  }
}

.menu-main {
  @extend %inline-block;
  @include border(right, 1px, solid, $secondary-color);

  @include query($tablet-2) {
    display: none;

    &.expanded {
      position: absolute;
      top: 55px;
      right: 20px;
      z-index: 2;
      display: block;
      min-width: 350px;
      text-align: left;
      @include bg($white);
      border-right: none;
      @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    }
  }

  @include query($mobile-2) {

    &.expanded {
      top: 68px;
      left: 0;
      right: 0;
      @include border(top, 1px, solid, $secondary-color);
      @include no-box-shadow;
    }
  }

  .menu {
    @extend %clearfix;
  }

  li {
    position: relative;
    top: 1px;
    float: left;
    @include border(left, 1px, solid, $secondary-color);
    @include border(bottom, 1px, solid, $secondary-color);

    &.edit-btn {
      a {
        margin: 24px 30px 24px 25px;
        padding: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    &:first-child {
    }

    @include query($tablet-2) {
      top: 0;
      display: block;
      margin: 0;
      font-size: 20px;
      border-left: none;
    }

    @include query($tablet-2) {
      float: none;
    }

    a {
      padding: 24px 25px;
      font-weight: 700;
      font-size: 18px;

      &.active,
      &:hover {
        @include color($white);
      }

      &.active,
      &.active:hover {
        @include bg($primary-color);
      }

      &:hover {
        @include bg($primary-color, 0.8);
      }

      @include query($tablet-2) {
        padding: 9px 25px;
      }
    }
  }

  .menu-lang {
    display: none;

    @include query($tablet-2) {
      display: block;
      margin-left: 0;
      padding-left: 0;
      border-right: none;

      li {
        text-align: left;

        &:first-child {
          border-top: none;
        }

        &.active a:hover {
          // @include bg($blue-2);
        }

        a {
          padding: 20px 30px 20px 53px;
          font-size: 14px;
          @include color($secondary-color);

          &:before,
          &:after {
            top: 13px;
            left: 25px;
          }

          &.active,
          &.active:hover {
            font-weight: 600;
          }

          &.active,
          &.active:hover {
            @include color($primary-color);
            background: none;
          }

          &:hover {
            // @include color($grey-1, 0.4);
            // @include bg($grey-2, 0.5);
          }
        }

        &.edit-btn {
          display: block;
          padding: 4px 25px 0;
          text-align: left;
        }
      }
    }
  }
}

.menu-lang-btn {
  @extend %inline-block;
  @extend %button;
  position: relative;
  height: 25px;
  padding: 35px;
  font-family: inherit;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:before,
  &:after {
    top: 28px;
    left: 25px;
  }

  .flags-disabled & {
    padding: 31px 32px 39px 37px;

    .ico-popover-toggle {
      position: relative;
      top: -1px;
      display: inline-block;
      font-size: 7.2px;
    }
  }

  &.open {
    .ico-popover-toggle {
      left: 1px;
      @include transform(rotate(180deg));
    }
  }


  .flags-enabled & {
    width: 31px;

    .lang-title,
    .ico-popover-toggle {
      display: none;
    }
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 21px;
    height: 15px;
    content: '';

    .flags-disabled & {
      display: none;
    }
  }

  &:before {
    @include bg($black);
  }

  &:after {
    opacity: 0.95;
    background-repeat: no-repeat;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.menu-lang-popover {
  display: none;

  &.expanded {
    position: absolute;
    top: 76px;
    right: 13px;
    display: block;
    margin-bottom: 40px;
    padding: 6px 0;
    min-width: 121px;
    line-height: 1;
    @include bg($white);
    @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    z-index: 1;
  }
}

.menu-lang {
  @extend %inline-block;
  position: relative;
  top: 1px;
  margin-left: -5px;
  line-height: 0;
  @include border(right, 1px, solid, $secondary-color);

  @include query($tablet-2) {
    display: none;
  }

  &.flags-disabled {
    .lang-flag {
      padding-left: 4px;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  li {
    display: list-item;
    text-align: right;
    font-size: 12px;

    &.edit-btn {
      a {
        margin-top: 5px;
        margin-right: 10px;
      }
    }

    a {
      position: relative;
      display: block;
      padding: 6px 40px 3px 13px;
      @include color($primary-color);

      &.active,
      &.active:hover {
        @include color($white);
        @include bg($primary-color);
      }

      &:hover {
        @include bg($primary-color, 0.8);
      }

      &:before,
      &:after {
        top: 4px;
        right: 12px;
      }
    }

    &.edy-menu-langadd {
      margin-left: 5px;
    }
  }
}

// Language flag icons positioning in the spritemap.
$flags:
// Albanian (Albania)
(sq, 0 0),
// Armenian (Armenia)
(hy, -21px 0),
// Bengali (Bangladesh)
(bn, -42px 0),
// Brazilian Portuguese (Brazil)
// (xx, -63px 0),
// Bulgarian (Bulgaria)
(bg, -84px 0),
// Chinese (China)
(zh, -105px 0),
// Croatian (Croatia)
(hr, -126px 0),
// Danish (Denmark)
(da, -147px 0),
// Czech (Czech Republic)
(cs, -168px 0),
// Estonian (Estonia)
(et, -189px 0),

// Finnish (Finland)
(fi, 0 -15px),
// French (France)
(fr, -21px -15px),
// Georgian (Georgia)
(ka, -42px -15px),
// German (Germany)
(de, -63px -15px),
// Greek (Greece)
(el, -84px -15px),
// Hungarian (Hungary)
(hu, -105px -15px),
// Icelandic (Iceland)
(is, -126px -15px),
// Hindi (India)
(hi, -147px -15px),
// Indonesian (Indonesia)
(id, -168px -15px),
// Iranian (Iran)
(fa, -189px -15px),

// Hebrew (Israel)
(he, 0 -30px),
// Italian (Italy)
(it, -21px -30px),
// Japanese (Japan)
(ja, -42px -30px),
// Korean (Korea, South)
(ko, -63px -30px),
// Latvian (Latvia)
(lv, -84px -30px),
// Lithuanian (Lithuania)
(lt, -105px -30px),
// Malaysian (Malaysia)
(ms, -126px -30px),
// Dutch (Netherlands)
(nl, -147px -30px),
// Norwegian (Norway)
(no, -168px -30px),
// Urdu (Pakistan)
(ur, -189px -30px),

// Filipino (Philippines)
(fil, 0 -45px),
// Polish (Poland)
(pl, -21px -45px),
// Romanian (Romania)
(ro, -42px -45px),
// Russian (Russia)
(ru, -63px -45px),
// Arabic (Saudi Arabia)
(ar, -84px -45px),
// Slovakian (Slovakia)
(sk, -105px -45px),
// Slovenian (Slovenia)
(sl, -126px -45px),
// Spanish (Spain)
(es, -147px -45px),
// Swedish (Sweden)
(sv, -168px -45px),
// Turkish (Turkey)
(tr, -189px -45px),

// Ukrainian (Ukraine)
(uk, 0 -60px),
// American English (United States of America)
(en, -21px -60px),
// French (Ivory Coast)
// (xx, -42px -60px),
// British English (Great Britian)
(en-gb, -63px -60px),
// Portuguese (Portuguese Republic)
(pt, -84px -60px),
// Canadian English (Canada)
// (xx, -105px, -60px),
// Serbian (Republic of Serbia)
(sr, -126px, -60px),
// Dutch, French, German (Kingdom of Belgium)
// (xx, -147px, -60px),
// Australian English (Commonwealth of Australia)
// (xx, -168px, -60px),
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
  }
}

.lang-options {
  @include bg($black, 0.09);

  .menu {
    .menu-item {
      margin-top: 8px;
      padding: 7px 12px;
      font-size: 13px;
    }
  }
}

.option-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  @include color($blue-1);

  &:hover {
    @include color($blue-1, 0.8);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:focus {
    outline: none;
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.menu-pagination {
  @extend %aktiv-grotesk;
  text-align: center;
  font-weight: 700;
  @include border(top, 1px, solid, $secondary-color);

  .wrap {
    padding: 0;
  }

  .menu {
    @extend %clearfix;
  }

  li {
    @extend %inline-block;
    margin-left: -1px;
    @include border(left, 1px, solid, $secondary-color);
    @include border(right, 1px, solid, $secondary-color);

    &.pagination-previous,
    &.pagination-next {
      a {
        padding: 15px 30px;
      }
    }

    &.pagination-previous {
      float: left;
    }

    &.pagination-next {
      float: right;
    }

    &:first-child {
      margin-left: 0;
      @include border(left, 1px, solid, $secondary-color);
    }

    a {
      padding: 15px 20px;

      &.active,
      &:hover {
        @include color($white);
      }

      &.active,
      &.active:hover {
        @include bg($primary-color);
      }

      &:hover {
        @include bg($primary-color, 0.8);
      }
    }
  }
}
