/* TABLES */
.content-formatted {
  .table-container {
    margin-top: 20px;
  }

  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;

    td {
      padding: 10px;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
    }
  }
}
