/* TOPBAR */
.topbar {
  min-height: 69px;
  margin-top: -1px;
  @extend %aktiv-grotesk;
  border-bottom: 1px solid $secondary-color;

  .wrap {
    padding: 0 20px;

    .no-flexbox & {
      display: table;
      max-width: 1000px;
    }

    .flexbox & {
      display: flex;
      max-width: 960px;
    }

    @media screen and (max-width: $tablet-2) {
      .no-flexbox &,
      .flexbox & {
        display: block;
      }
    }
  }

  .topbar-left,
  .topbar-right {
    .no-flexbox & {
      display: table-cell;
      vertical-align: top;
    }

    @media screen and (max-width: $tablet-2) {
      .no-flexbox & {
        display: block;
      }
    }
  }

  .topbar-left {
    width: 130px;
  }

  .topbar-right {
    width: 830px;
    text-align: right;

    @media screen and (max-width: $tablet-2) {
      width: auto;
    }
  }

  .topbar-title {
    padding: 19px 0;
    font-weight: 700;
    font-size: 26px;

    &,
    a {
      text-decoration: none;
      color: $primary-color;
    }
  }
}
