/* FRONT PAGE */
.front-page {
  .wrap {
    max-width: 1000px;
  }

  .custom-gallery {
  }

  .gallery-inner {
    width: 100%;
    max-width: 500px;
  }

  .gallery-left {
    .custom-image {
      display: inline-block;
      vertical-align: top;
      width: 235px;
      height: 235px;
      background-size: cover;
    }
  }

  .gallery-right {

  }

  .blog {
    .wrap {
      @extend %clearfix;
    }

    .blog-inner {
      @extend %clearfix;
      float: left;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    .post {
      float: left;
      width: 235px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0px;
      }
    }

    .post-header {
      display: block;
      text-decoration: none;
      @include color($primary-color);

      &:hover {
        text-decoration: underline;

        .post-cover-image {
          @include opacity(0.8);
        }
      }
    }

    .post-cover-image {
      width: 235px;
      height: 235px;
      background-size: cover;
    }

    .post-title {
      margin-top: 20px;
      font-size: 20px;
    }
  }
}
