/* FRONT PAGE */
.front-page {
  .wrap {
    max-width: 1000px;
  }

  .custom-gallery {
  }

  .gallery-inner {
    width: 100%;
    max-width: 500px;
  }

  .gallery-left {
    .custom-image {
      @extend %inline-block;
      width: 235px;
      height: 235px;
      background-size: cover;
    }
  }

  .gallery-right {

  }

  .blog {
    .wrap {

    }

    .blog-inner,
    .post {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }

    .blog-inner {
      @extend %inline-block;

      @include query($tablet-1) {
        display: block;
        margin-top: 50px;
        margin-left: 0;
        text-align: center;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .post {
      @extend %inline-block;
      width: 235px;

      @include query($mobile-1) {
        display: block;

        & {
          margin: 50px auto 0;
        }

        &:first-child {
          margin: 0 auto 10px;
        }
      }
    }

    .post-header {
      display: block;
      text-decoration: none;
      @include color($primary-color);

      &:hover {
        text-decoration: underline;

        .post-cover-image {
          @include opacity(0.8);
        }
      }
    }

    .post-cover-image {
      width: 235px;
      height: 235px;
      background-size: cover;
    }

    .post-title {
      margin-top: 20px;
      font-size: 20px;
    }
  }
}
