/* HEADER */
.header {
  min-height: 69px;
  font-family: "Aktiv Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  @include border(bottom, 1px, solid, $secondary-color);

  .wrap {
    @include flexbox;
    max-width: 960px;
    padding: 0 20px;

    .header-left {
      width: 130px;
    }

    .header-right {
      width: 830px;
      text-align: right;
    }
  }

  .header-title {
    padding: 19px 0;
    font-weight: 700;
    font-size: 26px;

    &,
    a {
      text-decoration: none;
      @include color($primary-color);
    }
  }
}
