/* TOPBAR */
.topbar {
  min-height: 69px;
  margin-top: -1px;
  font-family: "Aktiv Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  @include border(bottom, 1px, solid, $secondary-color);

  .wrap {
    @include flexbox;
    max-width: 960px;
    padding: 0 20px;
  }

  .topbar-left {
    width: 130px;
  }

  .topbar-right {
    width: 830px;
    text-align: right;
  }

  .topbar-title {
    padding: 19px 0;
    font-weight: 700;
    font-size: 26px;

    &,
    a {
      text-decoration: none;
      @include color($primary-color);
    }
  }
}
